/*  your css code here. If applicable */
body{
	/* background-color:#f8f8f8; */
}
.book-library{
	/* width:100vw; */
}
h2{
	background-color:#f8f8f8;
	padding:10px;
	text-align:center;
}

.book{
	background-color:#f8f8f8;
	margin:20px;
	padding:20px;
}
img{
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h4{
	line-height:0;
}
p{
	font-size:14px;
	color:#777777;
	line-height:0;
}
button{
	background-color:#2ecc71;
	color:#ffffff;
	border:none;
	width:100%;
	padding:10px;
	border-radius:5px
}